<main class="main">
  <h1 css-module="heading">Angular Works!</h1>

  <app-slider
    *ngIf="!isLoading && !isError; else loadingErrorPlaceholder"
    [slideWidthPx]="500"
    [slideHeightPx]="500"
    [isAutoPlay]="true"
    [autoPlayMillisecondsInterval]="3000"
    [infinite]="true"
    [keyPressControl]="true"
  >
    <div *ngFor="let slide of sliderItems; let i = index" class="slide-content" #slide>
      <img [src]="slide.url" alt="Slide {{ i + 1 }}" />
    </div>
  </app-slider>
</main>

<ng-template #loadingErrorPlaceholder>
  <div *ngIf="isError" class="error-message">
    Oops! Something went wrong while loading slides.
  </div>
  <div *ngIf="isLoading" class="loading-message">
    Loading slides...
  </div>
</ng-template>

<router-outlet></router-outlet>
